*{
	margin:0px;
	padding:0px;
}
body{
background: black;
}

#nav{
height:50px;
}
#nav ul{
List-Style-Type:none;
}
#nav ul li{
float:left;
}
#nav ul li a{
line-height:50px;
height:50px;
width:80px;
font-size:20px;
font-weight:bold;
color:white;
text-align:center;
text-decoration:none;
padding: 10px;
font-family: 'Montserrat', sans-serif;

}


#nav ul li a:hover{
background:red;
opacity:0.8;
color : black;
font-size:25px;

}

#d{
height:100%;
color: black;
font-weight:Bold;
text-align:center;
background-image:url(navigus_background.jpg);
padding:50px;
}
#d h2{
	font-family: Courier New;
	font-size:50px;
}
#d p{
	height:250px;
	background: rgba(0,0,0,0.4);	
	color:white	
}
#d img{
	margin-bottom:20px;
	background: rgba(0,0,0,1);
	margin-top:20px;
	height:150px;
	width:250px;
}